APP_TIMEZONE=Africa/Luanda
PORT=3000

DATABASE_URL=postgresql://USER:PASSWORD@localhost:5432/caxianda?options=-c%20timezone%3DAfrica%2FLuanda

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

RESEND_API_KEY=re_xxxxxxxxx
RESEND_FROM_EMAIL=no-reply@caxianda.com

THROTTLE_TTL=60000
THROTTLE_LIMIT=100